<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div class="alert" style="display:none" role="alert">
            <!--Placeholder for alert message-->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 dashboard-aside">
                    <a id="dashboard-main" href="/dashboard"><h1 class="dashboard-title">Dashboard</h1></a>
                    <a class="dashboard-a" href="" data-toggle="modal" data-target="#login-modal"><i class="fas fa-unlock"></i> Admin Auth</a>
                    <a class="dashboard-a" href="/dashboard/countries"><i class="far fa-plus-square"></i> Countries</a>
                    <a class="dashboard-a" href=""><i class="far fa-plus-square"></i> Landforms</a>
                    <a class="dashboard-a" href=""><i class="far fa-plus-square"></i> Water</a>
                    <a class="dashboard-a" href="/dashboard/users"><i class="fas fa-users"></i> Users</a>
                    <a class="dashboard-a" href="/dashboard/results"><i class="far fa-chart-bar"></i> Results</a>
                    <a class="dashboard-a" href="/dashboard/log"><i class="fas fa-server"></i> Server Log</a>
                    <a class="dashboard-a" href="/dashboard/documentation"><i class="far fa-question-circle"></i> Documentation</a>
                </div>
                <div class="col-md-10 col-sm-8 pt-4">
                    <%- include('modal/_add_country'); %>
                    <%- include('modal/_delete_country'); %>
                    <%- include('modal/_delete_result'); %>
                    <%- include('modal/_login'); %>
                    <main id="main">
                        
                        <!-- Placeholder for navigation-->
                        <%- include(page); %>
                    </main>
                </div>
            </div>
        </div>
  </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/javascripts/dashboard.js"></script>
</html>
